<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Finder.Model.Properties.Settings.dbFind_UConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbFind_U;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>